.loader-overlay {
  position: fixed;
  inset: 0;
  z-index: 9999;

  display: flex;
  justify-content: center;
  align-items: center;

  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);

  background: rgba(255, 255, 255, 0.2);
}

.loading-text {
  margin: 0;
  color: #002f34;
  font-size: 19px;
}