*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:#f2f4f5;
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
}

.container{
    width:900px;
    display:flex;
    border-radius:12px;
    overflow:hidden;
    background:#fff;
    box-shadow:0 15px 40px rgba(0,0,0,.15);
}

.left{
    width:45%;
    background:#002f34;
    color:white;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    padding:40px;
}

.left h1{
    font-size:42px;
    margin-bottom:15px;
}

.left p{
    font-size:18px;
    text-align:center;
    line-height:28px;
}

.right{
    width:55%;
    padding:50px;
}

.right h2{
    text-align:center;
    margin-bottom:30px;
    color:#002f34;
}

form{
    display:flex;
    flex-direction:column;
}

input{
    padding:15px;
    margin-bottom:18px;
    border:1px solid #ccc;
    border-radius:8px;
    font-size:16px;
    outline:none;
}

input:focus{
    border:1px solid #23e5db;
}

button{
    padding:15px;
    background:#002f34;
    color:white;
    border:none;
    border-radius:8px;
    cursor:pointer;
    font-size:17px;
    transition:.3s;
}

button:hover{
    background:#01464d;
}

.right > p{
    margin-top:20px;
    text-align:center;
}

a{
    color:#002f34;
    text-decoration:none;
    font-weight:bold;
}
.errorMessage{
    color:#e63946;
    font-size:13px;
    margin-top:4px;
    margin-bottom:10px;
    text-align:left;
    font-weight:500;
    line-height:1.2;
}