
/* ================= ITEMS ================= */

.cart-items {
    display: flex;
    flex-direction: column;

    gap: 18px;
}

.cart-item {
    background: white;

    padding: 18px;

    border-radius: 10px;

    display: flex;
    align-items: center;

    gap: 20px;

    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}

.cart-item img {
    width: 150px;
    height: 130px;

    object-fit: cover;

    border-radius: 8px;
}

.cart-item-details {
    flex: 1;
}

.cart-item-details h2 {
    color: #002f34;

    font-size: 21px;

    margin-bottom: 7px;
}

.cart-item-details .category {
    color: #777;

    margin-bottom: 8px;
}

.cart-item-details h3 {
    color: #002f34;

    font-size: 20px;

    margin-bottom: 15px;
}
